@keyframes ani {
    50%{opacity:50%;}
}

.content {
    color:rgba(35, 2, 2, 0.898);
    width: 1000px;
    font-size: larger;
    position: relative;
    top: 10px;
    margin: auto;
    padding: 20px;
    border: 2px solid #3c342e;
    border-radius: 20px;
}
.background {
    background-color: rgba(165, 151, 117, 0.767);
    margin: 0;
    padding-bottom: 100px;
}
.home {
    color:rgb(229, 151, 42);
    font-size: 30px;
    font-weight:700;
}
.way {
    color:rgb(137, 106, 67);
    font-size: 24px;
    font-weight: 600;
}
.tway {
    width: 1000px;
    margin:auto;
    padding: 10px;
}
.img {
    width: 600px;
    height: 300px;
    opacity:90%;
}
.img-animation :hover{
    animation: ani 1.5s 1;
}
a {
    text-decoration: none;
}
.container {
    width: 1000px;
    margin: auto;
}
.header .flex-container {
    display: flex;
    align-items: center;
}
.header {
    height: 100px;
    width: 1100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;    
    margin: auto;
    z-index: 100;
    background: #3c342e;
    display: flex;
}
div.page{
    float: left;
    position: sticky;
    top: 0;
    border-right: 2px solid #3c342e;
    border-top: 2px solid #3c342e;
    border-bottom: 2px solid #3c342e;
    border-radius: 0 20px 20px 0;
    padding: 10px;
    width: fit-content;
}
.page-button {
    border-left:5px solid #3c342e; 
    padding-left:3px;
}
.select {
    width: 1000px;
    height: 430px;
    margin: auto;
}
.block {
    height: 200px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 1000px;
    border: 1px solid #2f2b2b;
    border-radius: 20px;
}
.noveltitle {
    color: #3c342e;
    font-weight: 700;
    font-size: 28px;
    margin: 20px;
    position: relative;
    top:20px;
}
hr {
    background-color:#3c342e; 
    height:1px; 
    border:none
}
.intro {
    color:rgba(35, 2, 2, 0.898);
    width: 1000px;
    font-size: larger;
    border: 2px solid #3c342e;
    border-radius: 20px;
    margin: auto;
    position: relative;
    top: 10px;
}
.intro-detail {
    margin: 20px;
    top:10px
}
