.content {
    color:rgba(0, 0, 0, 0.63);
    width:800px;
}
.background {
    background-color: rgba(149, 215, 174, 0.767);
}
.mainpage {
    color:rgb(19, 180, 126);
}
.way {
    color:rgb(13, 123, 86);
}