@keyframes ani {
    50%{opacity:50%;}
}

.content {
    color:rgba(35, 2, 2, 0.898);
    width: 1000px;
    font-size: larger;
    position: relative;
    top: 10px;
    margin: auto;
    padding: 20px;
    border: 2px solid #3c342e;
    border-radius: 20px;
}
.background {
    background-color: rgba(195, 187, 179, 0.767);
    margin: 0;
    padding-bottom: 100px;
}
.home {
    color:rgb(213, 181, 132);
    font-size: 36px;
    font-weight:700;
}
.way {
    color:rgb(114, 92, 65);
    font-size: 24px;
    font-weight: 600;
}
.tway {
    width: 1000px;
    margin:auto;
    padding-top: 10px;
}
.img {
    width: 600px;
    height: 300px;
    opacity:90%;
}
.img-animation :hover{
    animation: ani 1.5s 1;
}
a {
    text-decoration: none;
    color:#b25b18
}
.container {
    width: 1000px;
    margin: auto;
}
.header .flex-container {
    display: flex;
    align-items: center;
}
.header {
    height: 100px;
    width: auto;
    z-index: 100;
    background: #454545;
    display: flex;
}
div.page{
    float: left;
    position: sticky;
    top: 0;
    border-right: 2px solid #3c342e;
    border-top: 2px solid #3c342e;
    border-bottom: 2px solid #3c342e;
    border-radius: 0 20px 20px 0;
    background-color: #454545;
    padding: 10px;
    width: fit-content;
}
.page-button {
    border-left:5px solid #7c6c61; 
    padding-left:3px;
    color: rgb(213, 181, 132);
    font-size: 24px;
    font-weight: 600;
}
.select {
    width: 500px;
    height: 430px;
    margin-left: 100px;
    margin-right: auto;
}
.block {
    position: relative;
    border: 1px dashed #3c342e;
    height: 165px;
    margin: 10px;
    background-color: #b7b1ab;
}
.noveltitle {
    color: #3c342e;
    font-weight: 600;
    font-size: 28px;
    margin: 10px;
    position: relative;
    top: 10px;
}
hr {
    background-color:#3c342e; 
    height:1px; 
    border:none
}
.intro {
    color:rgba(35, 2, 2, 0.898);
    width: 1000px;
    height: auto;
    font-size: larger;
    border: 2px solid #3c342e;
    border-radius: 20px;
    margin: auto;
    position: relative;
    top: 10px;
    padding: 10px;
}
.intro1 {
    font-weight: 400;
    font-size: 20px;
    margin: auto;
    width: 200px;
    position: relative;
    top:20px;
    left: 10px;
}
span.intro-detail {
    margin: 20px;
    right:10px;
    position:relative;
    top: 10px;
    left: 10px;
}
.chapter {
    width: 960px;
    padding: 10px;
    margin: auto;
    position: relative;
    top:10px;
}
a.chapter-select {
    padding: 10px;
    background-color: rgb(191, 186, 182);
    border: 0;
    border-radius: 5px;
    display: inline-flex;
    position: relative;
    top:-10px;
}
.pimg {
    width: 120px;
    height: 144px; 
    margin: 10px;
    float: left;
}